---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/EX1_572?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"EX1_572","name":"\u30a4\u30bb\u30e9","cardSet":"Classic","type":"Minion","faction":"Neutral","rarity":"Legendary","cost":9,"attack":4,"health":12,"text":"\u81ea\u5206\u306e\u30bf\u30fc\u30f3\u306e\u7d42\u4e86\u6642\n\u5922\u30ab\u30fc\u30c91\u679a\u3092\n\u81ea\u5206\u306e\u624b\u672d\u306b\u8ffd\u52a0\u3059\u308b\u3002","flavor":"\u30a4\u30bb\u30e9\u306f\u30a8\u30e1\u30e9\u30eb\u30c9\u30fb\u30c9\u30ea\u30fc\u30e0\u3092\u6cbb\u3081\u3066\u308b\u3002\u3044\u3063\u305f\u3044\u3069\u3093\u306a\u5834\u6240\u306a\u3093\u3060\u308d\u3046\u306a\uff1f\u4f55\u3082\u304b\u3082\u7dd1\u8272\u306b\u306a\u3063\u305f\u93e1\u306e\u4e2d\u307f\u305f\u3044\u306a\u3068\u3053\u304b\uff1f","artist":"Gabor
        Szikszai","collectible":true,"elite":true,"race":"Dragon","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_572.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_572_premium.gif","locale":"jaJP"}]'
  recorded_at: Tue, 03 May 2016 13:41:58 GMT
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/Ysera?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"EX1_572","name":"\u30a4\u30bb\u30e9","cardSet":"Classic","type":"Minion","faction":"Neutral","rarity":"Legendary","cost":9,"attack":4,"health":12,"text":"\u81ea\u5206\u306e\u30bf\u30fc\u30f3\u306e\u7d42\u4e86\u6642\n\u5922\u30ab\u30fc\u30c91\u679a\u3092\n\u81ea\u5206\u306e\u624b\u672d\u306b\u8ffd\u52a0\u3059\u308b\u3002","flavor":"\u30a4\u30bb\u30e9\u306f\u30a8\u30e1\u30e9\u30eb\u30c9\u30fb\u30c9\u30ea\u30fc\u30e0\u3092\u6cbb\u3081\u3066\u308b\u3002\u3044\u3063\u305f\u3044\u3069\u3093\u306a\u5834\u6240\u306a\u3093\u3060\u308d\u3046\u306a\uff1f\u4f55\u3082\u304b\u3082\u7dd1\u8272\u306b\u306a\u3063\u305f\u93e1\u306e\u4e2d\u307f\u305f\u3044\u306a\u3068\u3053\u304b\uff1f","artist":"Gabor
        Szikszai","collectible":true,"elite":true,"race":"Dragon","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_572.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_572_premium.gif","locale":"jaJP"}]'
  recorded_at: Tue, 03 May 2016 13:46:26 GMT
recorded_with: VCR 2.9.3
