---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/faction/Horde?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html>\r\n\t<head>\r\n\t\t<link href='//fonts.googleapis.com/css?family=Lato:100'
        rel='stylesheet' type='text/css'>\r\n\r\n\t\t<style>\r\n\t\t\tbody {\r\n\t\t\t\tmargin:
        0;\r\n\t\t\t\tpadding: 0;\r\n\t\t\t\twidth: 100%;\r\n\t\t\t\theight: 100%;\r\n\t\t\t\tcolor:
        #B0BEC5;\r\n\t\t\t\tdisplay: table;\r\n\t\t\t\tfont-weight: 100;\r\n\t\t\t\tfont-family:
        'Lato';\r\n\t\t\t}\r\n\r\n\t\t\t.container {\r\n\t\t\t\ttext-align: center;\r\n\t\t\t\tdisplay:
        table-cell;\r\n\t\t\t\tvertical-align: middle;\r\n\t\t\t}\r\n\r\n\t\t\t.content
        {\r\n\t\t\t\ttext-align: center;\r\n\t\t\t\tdisplay: inline-block;\r\n\t\t\t}\r\n\r\n\t\t\t.title
        {\r\n\t\t\t\tfont-size: 72px;\r\n\t\t\t\tmargin-bottom: 40px;\r\n\t\t\t}\r\n\t\t</style>\r\n\t</head>\r\n\t<body>\r\n\t\t<div
        class=\"container\">\r\n\t\t\t<div class=\"content\">\r\n\t\t\t\t<div class=\"title\">404</div>\r\n\t\t\t</div>\r\n\t\t</div>\r\n\t</body>\r\n</html>\r\n"
  recorded_at: Thu, 05 May 2016 16:22:24 GMT
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/factions/Horde?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"EX1_011","name":"\u30f4\u30fc\u30c9\u30a5\u30fc\u306e\u546a\u8853\u533b","cardSet":"Basic","type":"Minion","faction":"Horde","rarity":"Free","cost":1,"attack":2,"health":1,"text":"<b>\u96c4\u53eb\u3073:</b>
        \u4f53\u529b\u30922\u56de\u5fa9\u3059\u308b\u3002","flavor":"\u30f4\u30fc\u30c9\u30a5\u30fc\u306f\u4f55\u304b\u3068\u8aa4\u89e3\u3055\u308c\u304c\u3061\u306a\u6280\u8853\u3060\u3002\u2026<i>\u5168\u3066\u304c</i>\u8aa4\u89e3\u3060\u3068\u306f\u8a00\u3063\u3066\u306a\u3044\u305e\u3002","artist":"Karl
        Richardson","collectible":true,"howToGetGold":"\u30ed\u30fc\u30b0\u30ec\u30d9\u30eb55\u3067\u5165\u624b\u3002","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_011.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_011_premium.gif","locale":"jaJP","mechanics":[{"name":"\u96c4\u53eb\u3073"}]},{"cardId":"CS2_189","name":"\u30a8\u30eb\u30d5\u306e\u5c04\u624b","cardSet":"Basic","type":"Minion","faction":"Horde","rarity":"Free","cost":1,"attack":1,"health":1,"text":"<b>\u96c4\u53eb\u3073:</b>
        1\u30c0\u30e1\u30fc\u30b8\u3092\u4e0e\u3048\u308b\u3002","flavor":"\u5f7c\u5973\u3092\u53e3\u8aac\u3053\u3046\u3063\u3066\u3093\u306a\u3089\u3084\u3081\u3068\u304d\u306a\u3002\u3042\u3093\u305f\u304c\u300c\u5fc3\u300d\u3092\u5c04\u629c\u304b\u308c\u308b\u305c[...]
