---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/faction/Horde
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html>\r\n\t<head>\r\n\t\t<link href='//fonts.googleapis.com/css?family=Lato:100'
        rel='stylesheet' type='text/css'>\r\n\r\n\t\t<style>\r\n\t\t\tbody {\r\n\t\t\t\tmargin:
        0;\r\n\t\t\t\tpadding: 0;\r\n\t\t\t\twidth: 100%;\r\n\t\t\t\theight: 100%;\r\n\t\t\t\tcolor:
        #B0BEC5;\r\n\t\t\t\tdisplay: table;\r\n\t\t\t\tfont-weight: 100;\r\n\t\t\t\tfont-family:
        'Lato';\r\n\t\t\t}\r\n\r\n\t\t\t.container {\r\n\t\t\t\ttext-align: center;\r\n\t\t\t\tdisplay:
        table-cell;\r\n\t\t\t\tvertical-align: middle;\r\n\t\t\t}\r\n\r\n\t\t\t.content
        {\r\n\t\t\t\ttext-align: center;\r\n\t\t\t\tdisplay: inline-block;\r\n\t\t\t}\r\n\r\n\t\t\t.title
        {\r\n\t\t\t\tfont-size: 72px;\r\n\t\t\t\tmargin-bottom: 40px;\r\n\t\t\t}\r\n\t\t</style>\r\n\t</head>\r\n\t<body>\r\n\t\t<div
        class=\"container\">\r\n\t\t\t<div class=\"content\">\r\n\t\t\t\t<div class=\"title\">404</div>\r\n\t\t\t</div>\r\n\t\t</div>\r\n\t</body>\r\n</html>\r\n"
  recorded_at: Thu, 05 May 2016 16:22:23 GMT
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/factions/Horde
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"CS2_189","name":"Elven Archer","cardSet":"Basic","type":"Minion","faction":"Horde","rarity":"Free","cost":1,"attack":1,"health":1,"text":"<b>Battlecry:</b>
        Deal 1 damage.","flavor":"Don''t bother asking her out on a date.  She''ll
        shoot you down.","artist":"Steve Prescott","collectible":true,"howToGetGold":"Unlocked
        at Druid Level 57.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/CS2_189.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/CS2_189_premium.gif","locale":"enUS","mechanics":[{"name":"Battlecry"}]},{"cardId":"EX1_011","name":"Voodoo
        Doctor","cardSet":"Basic","type":"Minion","faction":"Horde","rarity":"Free","cost":1,"attack":2,"health":1,"text":"<b>Battlecry:</b>
        Restore 2 Health.","flavor":"Voodoo is an oft-misunderstood art. But it <i>is</i>
        art.","artist":"Karl Richardson","collectible":true,"howToGetGold":"Unlocked
        at Rogue Level 55.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_011.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_011_premium.gif","locale":"enUS","mechanics":[{"name":"Battlecry"}]},{"cardId":"CS2_169","name":"Young
        Dragonhawk","cardSet":"Classic","type":"Minion","faction":"Horde","rarity":"Common","cost":1,"attack":1,"health":1,"text":"<b>Windfury</b>","flavor":"They
        were the inspiration for the championship Taurenball team: The Dragonhawks.","artist":"Greg
        Hildebrandt","collectible":true,"race":"Beast","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/CS2_169.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/CS2_169_premium.gif","locale":"enUS","mechanics":[{"name":"Windfury"}]},{"cardId":"CS2_172","name":"Bloodfen
        Raptor","cardSet":"Basic","type":"Minion","faction":"Horde","rarity":"Free","cost":2,"attack":3,"health":2,"flavor":"\"Kill
        30 raptors.\" - Hemet Nesingwary","artist":"Dan Brereton","collectible":true,"race":"Beast[...]
