---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards?attack=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Basic":[{"cardId":"CS2_tk1","name":"Sheep","cardSet":"Basic","type":"Minion","faction":"Neutral","rarity":"Free","attack":1,"health":1,"race":"Beast","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/CS2_tk1.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/CS2_tk1_premium.gif","locale":"enUS"},{"cardId":"GAME_002","name":"Avatar
        of the Coin","cardSet":"Basic","type":"Minion","rarity":"Free","cost":0,"attack":1,"health":1,"text":"<i>You
        lost the coin flip, but gained a friend.</i>","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/GAME_002.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/GAME_002_premium.gif","locale":"enUS"},{"cardId":"EX1_506a","name":"Murloc
        Scout","cardSet":"Basic","type":"Minion","faction":"Neutral","rarity":"Free","cost":0,"attack":1,"health":1,"race":"Murloc","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_506a.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_506a_premium.gif","locale":"enUS"},{"cardId":"CS2_boar","name":"Boar","cardSet":"Basic","type":"Minion","faction":"Neutral","rarity":"Free","cost":1,"attack":1,"health":1,"race":"Beast","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/CS2_boar.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/CS2_boar_premium.gif","locale":"enUS"},{"cardId":"CS2_189","name":"Elven
        Archer","cardSet":"Basic","type":"Minion","faction":"Horde","rarity":"Free","cost":1,"attack":1,"health":1,"text":"<b>Battlecry:</b>
        Deal 1 damage.","flavor":"Don''t bother asking her out on a date.  She''ll
        shoot you down.","artist":"Steve Prescott","collectible":true,"howToGetGold":"Unlocked
        at Druid Level 57.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/CS2_189.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/CS2_189_premium.gif","locale":"enUS","mechanics":[{"name":"Battlecry"}]},{"cardId":"CS1_042","name":"Goldshire
        Footman","cardSet":"Basic","type":"Minion","faction":"Alliance","rarity":"Free","cost":1,"attack":1,"health":2,"text":"<b>Taunt</b>","flavor":"If
        1/2 minions are all that is defending Goldshire, you would think it would
        have been overrun years ago.","artist":"Donato Giancola","collectible":true,"howToGetGold":"Unlocked
        at Paladin Level 57.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/CS1_042.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/CS1_042_premium.gif","locale":"enUS","mechanics":[{"name":"Taunt"}]},{"cardId":"EX1_508","name":"Grimscale
        Oracle","cardSet":"Basic","type":"Minion","faction":"Neutral","rarity":"Free","cost":1,"attack":1,"health":1,"text":"ALL
        other Murlocs have +1 Attack.","inPlayText":"Argalagblbl","flavor":"These
        are the brainy murlocs.  It turns out that doesn\u2019t mean much.","artist":"Phil
        Saunders","collectible":true,"race":"Murloc","howToGetGold":"Unlocked at Warlock
        Level 53.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_508.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_508_premium.gif","locale":"enUS"},{"cardId":"CS2_091","name":"Light''s
        Justice","cardSet":"Basic","type":"Weapon","faction":"Neutral","rarity":"Free","cost":1,"attack":1,"durability":4,"flavor":"Prince
        Malchezaar was a collector of rare weapons. He''d animate them and have them
        dance for him.","artist":"Glenn Rane","collectible":true,"playerClass":"Paladin","howToGet":"Unlocked
        at Level 1.","howToGetGold":"Unlocked at Level 36.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/CS2_091.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/CS2_091_premium.gif","locale":"enUS"},{"cardId":"CS2_235","name":"Northshire
        Cleric","cardSet":"Basic","type":"Minion","rarity":"Free","cost":1,"attack":1,"health":3,"text":"Whenever
        a minion is healed, draw a card.","flavor":"They help the downtrodden and
    [...]
