---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/search/Ony
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"AT_117e","name":"Ceremony","cardSet":"The Grand Tournament","type":"Enchantment","text":"+2/+2.","locale":"enUS"},{"cardId":"BRMA17_3","name":"Onyxia","cardSet":"Blackrock
        Mountain","type":"Hero","health":15,"img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/BRMA17_3.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/BRMA17_3_premium.gif","locale":"enUS"},{"cardId":"BRMA17_3H","name":"Onyxia","cardSet":"Blackrock
        Mountain","type":"Hero","health":30,"img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/BRMA17_3H.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/BRMA17_3H_premium.gif","locale":"enUS"},{"cardId":"BRMA17_9","name":"Onyxiclaw","cardSet":"Blackrock
        Mountain","type":"Weapon","cost":2,"attack":2,"durability":6,"img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/BRMA17_9.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/BRMA17_9_premium.gif","locale":"enUS"},{"cardId":"EX1_562","name":"Onyxia","cardSet":"Classic","type":"Minion","faction":"Neutral","rarity":"Legendary","cost":9,"attack":8,"health":8,"text":"<b>Battlecry:</b>
        Summon 1/1 Whelps until your side of the battlefield is full.","flavor":"Onyxia
        long manipulated the Stormwind Court by disguising herself as Lady Katrana
        Prestor.   You would have thought that the giant wings and scales would have
        been a giveaway.","artist":"Dany Orizio","collectible":true,"elite":true,"race":"Dragon","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_562.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_562_premium.gif","locale":"enUS","mechanics":[{"name":"Battlecry"}]}]'
  recorded_at: Thu, 05 May 2016 17:26:08 GMT
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/search/Onyx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"BRMA17_3","name":"Onyxia","cardSet":"Blackrock Mountain","type":"Hero","health":1[...]
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/search/Onyxia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"BRMA17_3","name":"Onyxia","cardSet":"Blackrock Mountain","type":"Hero","health"[...]
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/search/Yser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"LOEA16_15","name":"Ysera''s Tear","cardSet":"The League
        of Explorers","type":"Spell","cost":0,"text":"Gain 4 Mana Crystals this turn
        only.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/LOEA16_15.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/LOEA16_15_premium.gif","locale":"enUS"},{"cardId":"DREAM_02","name":"Ysera
        Awakens","cardSet":"Classic","type":"Spell","cost":2,"text":"Deal $5 damage
        to all characters except Ysera.","playerClass":"Dream","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/DREAM_02.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/DREAM_02_premium.gif","locale":"enUS"},{"cardId":"EX1_572","name":"Ysera","cardSet":"Classic","type":"Minion","faction":"Neutral","rarity":"Legendary","cost":9,"attack":4,"health":12,"text":"At
        the end of your turn, add a Dream Card to your hand.","flavor":"Ysera rules
        the Emerald Dream.  Which is some kind of green-mirror-version of the real
        world, or something?","artist":"Gabor Szikszai","collectible":true,"elite":true,"race":"Dragon","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_572.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_572_premium.gif","locale":"enUS"}]'
  recorded_at: Sat, 07 May 2016 23:06:02 GMT
recorded_with: VCR 2.9.3
