---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/Weapon?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":404,"message":"Card not found."}'
  recorded_at: Thu, 05 May 2016 14:17:18 GMT
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/Weapon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":404,"message":"Card not found."}'
  recorded_at: Thu, 05 May 2016 14:18:35 GMT
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/Ysera
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"EX1_572","name":"Ysera","cardSet":"Classic","type":"Minion","faction":"Neutral","rarity":"Legendary","cost":9,"attack":4,"health":12,"text":"At
        the end of your turn, add a Dream Card to your hand.","flavor":"Ysera rules
        the Emerald Dream.  Which is some kind of green-mirror-version of the real
        world, or something?","artist":"Gabor Szikszai","collectible":true,"elite":true,"race":"Dragon","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_572.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_572_premium.gif","locale":"enUS"}]'
  recorded_at: Thu, 05 May 2016 14:26:26 GMT
[...]
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/Spell
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":404,"message":"Card not found."}'
  recorded_at: Thu, 05 May 2016 14:26:44 GMT
[...]
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/types/Weapon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"TB_SPT_BossWeapon","name":"Armory","cardSet":"Tavern Brawl","type":"Weapon","cost":1,"attack":0,"durability":1,"text":"Attack
        increases over time.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/TB_SPT_BossWeapon.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/TB_SPT_BossWeapon_premium.gif","locale":"enUS"},{"cardId":"EX1_398t","name":"Battle
        Axe","cardSet":"Classic","type":"Weapon","cost":1,"attack":2,"durability":2,"playerClass":"Warrior","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_398t.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_398t_premium.gif","locale":"enUS"},{"cardId":"LOE_118","name":"Cursed
        Blade","cardSet":"The League of Explorers","type":"Weapon","rarity":"Rare","cost":1,"attack":2,"durability":3,"text":"Double
        all damage dealt to your hero.","flavor":"The Curse is that you have to listen
        to \"MMMBop\" on repeat.","artist":"Craig Mullins","collectible":true,"playerClass":"Warrior","howToGet":"Unlocked
        in the Hall of Explorers, in the League of Explorers adventure.","howToGetGold":"Crafting
        unlocked in the Hall of Explorers, in the League of Explorers adventure.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/LOE_118.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/LOE_118_premium.gif","locale":"enUS"},{"cardId":"BRMA16_5","name":"Dragonteeth","cardSet":"Blackrock
        Mountain","type":"Weapon","cost":1,"attack":0,"durability":6,"text":"Whenever
        your opponent plays a card, gain +1 Attack.","img":"http://w[...]
[...]
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/types/Weapon?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"NAX12_03","name":"\u30a2\u30ae\u30c8","cardSet":"Naxxramas","type":"[...]
