---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"patch":"5.0.0.12574","classes":["Druid","Hunter","Mage","Paladin","Priest","Rogue","Shaman","Warlock","Warrior","Dream"],"sets":["Basic","Classic","Credits","Naxxramas","Slush","Goblins
        vs Gnomes","Missions","Promo","Reward","System","Blackrock Mountain","Hero
        Skins","Tavern Brawl","The Grand Tournament","The League of Explorers","Whispers
        of the Old Gods"],"types":["Hero","Minion","Spell","Enchantment","Weapon","Hero
        Power"],"factions":["Horde","Alliance","Neutral"],"qualities":["Free","Common","Rare","Epic","Legendary"],"races":["Demon","Dragon","Mech","Murloc","Beast","Pirate","Totem"],"locales":["deDE","enGB","enUS","esES","esMX","frFR","itIT","koKR","plPL","ptBR","ruRU","zhCN","zhTW","jaJP","thTH"]}'
  recorded_at: Wed, 04 May 2016 19:58:55 GMT
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/info?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"patch":"5.0.0.12574","classes":["\u30c9\u30eb\u30a4\u30c9","\u30cf\u30f3\u30bf\u30fc","\u30e[...]
