---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/sets/Classic?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"CS2_188o","name":"\u300c\u6fc0\u52b1\u300d\u3055\u308c\u305f","cardSet":"Classic","type":"Enchantment","text":"\u3053\u306e\u30bf\u30fc\u30f3\u3001\u3053\u306e\u30df\u30cb\u30aa\u30f3\u306e\u653b\u6483\u529b+2\u3002","locale":"jaJP","mechanics":[{"name":"OneTurnEffect"}]},{"cardId":"EX1_295o","name":"\u30a2\u30a4\u30b9\u30d6\u30ed\u30c3\u30af","cardSet":"Classic","type":"Enchantment","text":"\u81ea\u5206\u306e\u30d2\u30fc\u30ed\u30fc\u306f\u3001\u3053\u306e\u30bf\u30fc\u30f3\u306e\u9593<b>\u7121\u6575</b>\u3002","playerClass":"Mage","locale":"jaJP","mechanics":[{"name":"OneTurnEffect"}]},{"cardId":"EX1_409e","name":"\u30a2\u30c3\u30d7\u30b0\u30ec\u30fc\u30c9","cardSet":"Classic","type":"Enchantment","text":"\u653b\u6483\u529b+1\u3001\u8010\u4e45\u5ea6+1\u3002","playerClass":"Warrior","locale":"jaJP"},{"cardId":"EX1_536e","name":"\u30a2\u30c3\u30d7\u30b0\u30ec\u30fc\u30c9","cardSet":"Classic","type":"Enchantment","text":"\u8010\u4e45\u5ea6\u304c\u5897\u52a0\u3002","playerClass":"Hunter","locale":"jaJP"},{"cardId":"EX1[...]
