---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/races/Murloc?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"PRO_001at","name":"\u30de\u30fc\u30ed\u30c3\u30af","cardSet":"Promotion","type":"Minion","cost":0,"attack":1,"health":1,"race":"Murloc","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/PRO_001at.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/PRO_001at_premium.gif","locale":"jaJP"},{"cardId":"LOEA10_3","name":"\u30de\u30fc\u30ed\u30c3\u30af\u30fb\u30bf\u30a4\u30cb\u30fc\u30d5\u30a3\u30f3","cardSet":"The
        League of Explorers","type":"Minion","rarity":"Common","cost":0,"attack":1,"health":1,"flavor":"\u6b7b\u4ea1\u7387\u306f\u9ad8\u3044\u3002\u3042\u307e\u308a\u306e\u30ad\u30e5\u30fc\u30c8\u3055\u306e\u305f\u3081\u62b1\u304d\u7de0\u3081\u3089\u308c\u3001\u305d\u306e\u307e\u307e\u6b7b\u3093\u3067\u3057\u307e\u3046\u3082\u306e\u304c\u591a\u3044\u305f\u3081\u3060\u3002","artist":"Oliver
        Chipping","collectible":true,"race":"Murloc","howToGet":"\u30ea\u30fc\u30b0\u30fb\u30aa\u30d6\u30fb\u30a8\u30af\u30b9\u30d7\u30ed\u30fc\u30e9\u30fc\u30fb\u30a2\u30c9\u30d9\u30f3\u30c1\u30e3\u30fc\u306e\u300c\u5ec3\u589f\u306e\u90fd\u5e02\u300d\u3067\u5165\u624b\u3002","howToGetGold":"\u30ea\u30fc\u30b0\u30fb\u30aa\u30d6\u30fb\u30a8\u30af\u30b9\u30d7\u30ed\u30fc\u30e9\u30fc\u30fb\u30a2\u30c9\u30d9\u30f3\u30c1\u30e3\u30fc\u306e\u300c\u5ec3\u589f\u306e\u90fd\u5e02\u300d\u3067\u4f5c\u6210\u53ef\u80fd\u306b\u306a\u308b\u3002","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/LOEA10_3.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/LOEA10_3_premium.gif","locale":"jaJP"},{"cardId":"EX1_506a","name":"\u30de\u30fc\u30ed\u30c3\u30af\u306e\u5075\u5bdf\u5175","cardSet":"Basic","type":"Minion","faction":"Neutral","rarity":"Free","cost":0,"attack":1,"health":1,"race":"Murloc","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_506a.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_506a_premium.gif","locale":"jaJP"},{"cardId":"EX1_508","name":"\u30b0\u30ea\u30e0\u30b9\u30b1\u30a4\u30eb\u306e\u8a17\u5ba3\u5e2b","cardSet":"Basic","type":"Minion","faction":"Neutral","rarity":"Free","cost":1,"attack":1,"health":1,"text":"\u81ea\u8eab\u3092\u9664\u304f\u5168\u3066\u306e\n\u30de\u30fc\u30ed\u30c3\u30af\u306f\n\u653b\u6483\u529b+1\u3092\u5f97\u308b\u3002","flavor":"\u3053\u3044\u3064\u3089\u304c\u30de\u30fc\u30ed\u30c3\u30af\u306e\u982d\u8133\u62c5\u5f53\u3060\u3002\u307e\u3042\u3001\u3044\u306a\u304f\u3066\u3082\u4f55\u3082\u5909\u308f\u3089\u306a\u3044\u3093\u3060\u304c\u3002","artist":"Phil
        Saunders","collectible":true,"race":"Murloc","howToGetGold":"\u30a6\u30a9\u30fc\u30ed\u30c3\u30af\u30ec\u30d9\u30eb53\u3067\u5165\u624b\u3002","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_508.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_508_premium.gif","locale":"jaJP"},{"cardId":"LOE_076","name":"\u30b5\u30fc\u30fb\u30d5\u30a3\u30f3\u30ec\u30fc\u30fb\u30de\u30eb\u30b0\u30eb\u30c8\u30f3","cardSet":"The
        League of Explorers","type":"Minion","rarity":"Legendary","cost":1,"attack":1,"health":3,"text":"<b>\u96c4\u53eb\u3073:</b>
        \u65b0\u305f\u306a\u57fa\u672c\u30d2\u30fc\u30ed\u30fc\u30d1\u30ef\u30fc1\u3064\u3092<b>\u767a\u898b</b>\u3059\u308b\u3002","flavor":"\u5f7c\u306f\u6d41\u66a2\u306a\u5171\u901a\u8a9e\u4ee5\u5916\u306b\u300114\u3082\u306e\u65b9\u8a00\u3067\u300c\u30e0\u30e9\u30a1\u30b0\u30eb\u300d\u3092\u4f7f\u3044\u3053\u306a\u305b\u308b\u3002","artist":"Matt
        Dixon","collectible":true,"elite":true,"race":"Murloc","howToGet":"\u30ea\u30fc\u30b0\u30fb\u30aa\u30d6\u30fb\u30a8\u30af\u30b9\u30d7\u30ed\u30fc\u30e9\u30fc\u30fb\u30a2\u30c9\u30d9\u30f3\u30c1\u30e3\u30fc\u306e\u300c\u5ec3\u589f\u306e\u90fd\u5e02\u300d\u3067\u5165\u624b\u3002","howToGetGold":"\u30ea\u30fc\u30b0\u30fb\u30aa\u30d6\u30fb\u30a8\u30af\u30b9\u30d7\u30ed\u30fc\u30e9\u30fc\u30fb\u30a2\u30c9\u30d9\u30f3\u30c1\u30e3\u30fc\u306e\u300c\u5ec3\u589f\u306e\u90fd\u5e02\u300d\u3067\u4f5c\u6210\u53ef\u80fd\u306b\u306a\u308b\u3002","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/LOE_076.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/LOE_076_premium.gif","locale":"jaJP","mechanics":[{"name":"\u96c4\u53eb\u3073"}]},{"cardId":"OG_006a","name":"\u30b7\u30eb\u30d0\u30fc\u30cf\u30f3\u30c9\u306e\u30de\u30fc\u30ed\u30c3\u30af","cardSet":"Whispers
        of the Old Gods","type":"Minion","cost":1,"attack":1,"health":1,"artist":"Andrew
        Hou","race":"Murloc","playerClass":"Paladin","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/OG_006a.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/OG_006a_premium.gif","locale":"jaJP"},{"cardId":"OG_006","name":"\u30d0\u30a4\u30eb\u30d5\u30a3\u30f3\u306e\u7570\u7aef\u5be9\u554f\u5b98","cardSet":"Whispers
        of the Old Gods","type":"Minion","rarity":"Epic","cost":1,"attack":1,"health":3,"text":"<b>\u96c4\u53eb\u3073:</b>
        \u81ea\u5206\u306e\n\u30d2\u30fc\u30ed\u30fc\u3[...]
