---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/info?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"patch":"5.0.0.12574","classes":["\u30c9\u30eb\u30a4\u30c9","\u30cf\u30f3\u30bf\u30fc","\u30e1\u30a4\u30b8","\u30d1\u30e9\u30c7\u30a3\u30f3","\u30d7\u30ea\u30fc\u30b9\u30c8","\u30ed\u30fc\u30b0","\u30b7\u30e3\u30fc\u30de\u30f3","\u30a6\u30a9\u30fc\u30ed\u30c3\u30af","\u30a6\u30a9\u30ea\u30a2\u30fc","Dream"],"sets":["\u57fa\u672c","\u30af\u30e9\u30b7\u30c3\u30af","\u30b9\u30bf\u30c3\u30d5\u30ed\u30fc\u30eb","\u30ca\u30af\u30b9\u30e9\u30fc\u30de\u30b9","\u30b9\u30e9\u30c3\u30b7\u30e5","\u30b4\u30d6\u30ea\u30f3vs\u30ce\u30fc\u30e0","Missions","\u30d7\u30ed\u30e2","\u5831\u916c","System","\u30d6\u30e9\u30c3\u30af\u30ed\u30c3\u30af","Hero
        Skins","\u9152\u5834\u306e\u55a7\u5629","\u30b0\u30e9\u30f3\u30c9\u30fb\u30c8\u30fc\u30ca\u30e1\u30f3\u30c8","\u30ea\u30fc\u30b0\u30fb\u30aa\u30d6\u30fb\u30a8\u30af\u30b9\u30d7\u30ed\u30fc\u30e9\u30fc","\u65e7\u795e\u306e\u3055\u3055\u3084\u304d"],"types":["\u30d2\u30fc\u30ed\u30fc","\u30df\u30cb\u30aa\u30f3","\u546a\u6587","\u9b54\u529b\u4ed8\u4e0e","\u6b66\u5668","\u30d2\u30fc\u30ed\u30fc\u30d1\u30ef\u30fc"],"factions":["Horde","Alliance","Neutral"],"qualities":["\u7121\u6599","\u30b3\u30e2\u30f3","\u30ec\u30a2","\u30a8\u30d4\u30c3\u30af","\u30ec\u30b8\u30a7\u30f3\u30c9"],"races":["\u60aa\u9b54","\u30c9\u30e9\u30b4\u30f3","\u30e1\u30ab","\u30de\u30fc\u30ed\u30c3\u30af","\u7363","\u6d77\u8cca","\u30c8\u30fc\u30c6\u30e0"],"locales":["deDE","enGB","enUS","esES","esMX","frFR","itIT","koKR","plPL","ptBR","ruRU","zhCN","zhTW","jaJP","thTH"]}'
  recorded_at: Wed, 04 May 2016 20:00:43 GMT
recorded_with: VCR 2.9.3
