---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/classes/Paladin?cost=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"FP1_020","name":"Avenge","cardSet":"Naxxramas","type":"Spell","rarity":"Common","cost":1,"text":"<b>Secret:</b>
        When one of your minions dies, give a random friendly minion +3/+2.","flavor":"Several
        paladins have joined together to deliver justice under the name \"Justice
        Force\".  Their lawyer talked them out of calling themselves the Justice League.","artist":"Zoltan
        & Gabor","collectible":true,"playerClass":"Paladin","howToGet":"Unlocked in
        Frostwyrm Lair, in the Naxxramas adventure.","howToGetGold":"Crafting unlocked
        in Frostwyrm Lair, in the Naxxramas adventure.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/FP1_020.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/FP1_020_premium.gif","locale":"enUS","mechanics":[{"name":"Secret"}]},{"cardId":"CS2_087","name":"Blessing
        of Might","cardSet":"Basic","type":"Spell","faction":"Neutral","rarity":"Free","cost":1,"text":"Give
        a minion +3 Attack.","flavor":"\"As in, you MIGHT want to get out of my way.\"
        - Toad Mackle, recently buffed.","artist":"Zoltan Boros","collectible":true,"playerClass":"Paladin","howToGet":"Unlocked
        at Level 1.","howToGetGold":"Unlocked at Level 45.","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/CS2_087.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/CS2_087_premium.gif","l[...]
