---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/search/%E3%82%A4%E3%82%BB%E3%83%A9?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"LOEA16_15","name":"\u30a4\u30bb\u30e9\u306e\u6d99","cardSet":"The
        League of Explorers","type":"Spell","cost":0,"text":"\u3053\u306e\u30bf\u30fc\u30f3\u306e\u9593\u306e\u307f\u3001\u30de\u30ca\u30af\u30ea\u30b9\u30bf\u30eb\n\u30924\u3064\u7372\u5f97\u3059\u308b\u3002
        ","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/LOEA16_15.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/LOEA16_15_premium.gif","locale":"jaJP"},{"cardId":"DREAM_02","name":"\u30a4\u30bb\u30e9\u306e\u76ee\u899a\u3081","cardSet":"Classic","type":"Spell","cost":2,"text":"\u30a4\u30bb\u30e9\u3092\u9664\u304f\n\u5168\u3066\u306e\u30ad\u30e3\u30e9\u30af\u30bf\u30fc\u306b$5\u30c0\u30e1\u30fc\u30b8\u3092\n\u4e0e\u3048\u308b\u3002","playerClass":"Dream","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/DREAM_02.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/DREAM_02_premium.gif","locale":"jaJP"},{"cardId":"EX1_572","name":"\u30a4\u30bb\u30e9","cardSet":"Classic","type":"Minion","faction":"Neutral","rarity":"Legendary","cost":9,"attack":4,"health":12,"text":"\u81ea\u5206\u306e\u30bf\u30fc\u30f3\u306e\u7d42\u4e86\u6642\n\u5922\u30ab\u30fc\u30c91\u679a\u3092\n\u81ea\u5206\u306e\u624b\u672d\u306b\u8ffd\u52a0\u3059\u308b\u3002","flavor":"\u30a4\u30bb\u30e9\u306f\u30a8\u30e1\u30e9\u30eb\u30c9\u30fb\u30c9\u30ea\u30fc\u30e0\u3092\u6cbb\u3081\u3066\u308b\u3002\u3044\u3063\u305f\u3044\u3069\u3093\u306a\u5834\u6240\u306a\u3093\u3060\u308d\u3046\u306a\uff1f\u4f55\u3082\u304b\u3082\u7dd1\u8272\u306b\u306a\u3063\u305f\u93e1\u306e\u4e2d\u307f\u305f\u3044\u306a\u3068\u3053\u304b\uff1f","artist":"Gabor
        Szikszai","collectible":true,"elite":true,"race":"Dragon","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_572.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_572_premium.gif","locale":"jaJP"}]'
  recorded_at: Sat, 07 May 2016 23:06:02 GMT
recorded_with: VCR 2.9.3
