---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cards/qualities/Legendary?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardId":"NEW1_029t","name":"\u30df\u30eb\u30cf\u30a6\u30b9\u3092\u3076\u3063\u6bba\u305b\uff01","cardSet":"Classic","type":"Enchantment","rarity":"Legendary","text":"\u3053\u306e\u30bf\u30fc\u30f3\u306e\u9593\u3001\u81ea\u5206\u306e\u546a\u6587\u306e\u30b3\u30b9\u30c8\u306f\uff080\uff09\u3060\uff01","locale":"jaJP"},{"cardId":"XXX_064","name":"\n    ","cardSet":"Debug","type":"Spell","rarity":"Legendary","cost":0,"text":"\n    ","flavor":"\n    ","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/XXX_064.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/XXX_064_premium.gif","locale":"jaJP"},{"cardId":"XXX_110","name":"\n    ","cardSet":"Debug","type":"Minion","rarity":"Legendary","cost":0,"attack":7,"health":5,"text":"\n    ","elite":true,"img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/XXX_110.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/XXX_110_premium.gif","locale":"jaJP","mechanics":[{"name":"\u96c4\u53eb\u3073"}]},{"cardId":"XXX_100","name":"\n    ","cardSet":"Debug","type":"Minion","rarity":"Legendary","cost":0,"attack":7,"health":5,"text":"\n    ","elite":true,"img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/XXX_100.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/XXX_100_premium.gif","locale":"jaJP","mechanics":[{"name":"\u96c4\u53eb\u3073"}]},{"cardId":"BRMA14_3","name":"\u30a2\u30fc\u30b1\u30ce\u30c8\u30ed\u30f3","cardSet":"Blackrock
        Mountain","type":"Minion","rarity":"Legendary","cost":0,"attack":2,"health":2,"text":"\u4e21\u30d7\u30ec\u30a4\u30e4\u30fc\u3068\u3082\n<b>\u546a\u6587\u30c0\u30e1\u30fc\u30b8+2</b>\n\u3092\u5f97\u308b\u3002","elite":true,"race":"Mech","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/BRMA14_3.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/BRMA14_3_premium.gif","locale":"jaJP","mechanics":[{"name":"\u546a\u6587\u30c0\u30e1\u30fc\u30b8"}]},{"cardId":"NAX15_05","name":"\u30d3\u30b0\u30eb\u30b9\u30ef\u30fc\u30b9\u541b","cardSet":"Naxxramas","type":"Minion","rarity":"Legendary","cost":0,"attack":1,"health":1,"text":"<i>\u30b1\u30eb\u30b9\u30b6\u30fc\u30c9\n\u306e\u611b\u732b\u3002</i>","elite":true,"race":"Beast","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/NAX15_05.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/NAX15_05_premium.gif","locale":"jaJP","mechanics":[{"name":"InvisibleDeathrattle"}]},{"cardId":"EX1_323h","name":"\u30ed\u30fc\u30c9\u30fb\u30b8\u30e3\u30e9\u30af\u30b5\u30b9","cardSet":"Classic","type":"Hero","faction":"Neutral","rarity":"Legendary","cost":0,"attack":0,"health":15,"race":"Demon","playerClass":"Warlock","img":"http://wow.zamimg.com/images/hearthstone/cards/enus/original/EX1_323h.png","imgGold":"http://wow.zamimg.com/images/hearthstone/cards/enus/animated/EX1_323h_premium.gif","locale":"jaJP"},{"cardId":"CRED_15","name":"Andy
        Brock","cardSet":"Credits","type":"Minion","rarity":"Legendary","cost":1,"attack":1,"health":3,"text":"<b>\u6c88\u9ed9</b>\u3055\u305b\u3089\u308c\u306a\u3044\u3002<b>\u8056\u306a\u308b\u76fe\u3001\u96a0\u308c\u8eab\u3002</b>","elite":true,"img":"http://wo[...]
