---
http_interactions:
- request:
    method: get
    uri: https://omgvamp-hearthstone-v1.p.mashape.com/cardbacks?locale=jaJP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - DoDCP9IGmDmsh0Uy8eEE3sP90fLIp1ufwa2jsnymHi6MOLR9Rk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"cardBackId":"0","name":"\u30af\u30e9\u30b7\u30c3\u30af","description":"\u30ab\u30fc\u30c9\u88cf\u306e\u67c4\u306f\u3001\u3053\u3044\u3064\u306b\u59cb\u307e\u308a\u3053\u3044\u3064\u306b\u7d42\u308f\u308b\u3093\u3060\u3002","source":"startup","sourceDescription":"\u30c7\u30d5\u30a9\u30eb\u30c8","enabled":true,"img":"http://wow.zamimg.com/images/hearthstone/backs/original/Card_Back_Default.png","imgAnimated":"http://wow.zamimg.com/images/hearthstone/backs/animated/Card_Back_Default.gif","sortCategory":"1","sortOrder":"1","locale":"jaJP"},{"cardBackId":"1","name":"\u30d1\u30f3\u30c0\u30ea\u30a2","description":"Hearthstone\u306f\u30d1\u30f3\u30c0\u30ea\u30a2\u3067\u5927\u4eba\u6c17\u306e\u30b2\u30fc\u30e0\u3002\u30b7\u30e3\u30c9\u30fc\u30d1\u30f3\u516c\u8a8d\u30ab\u30fc\u30c9\u30b2\u30fc\u30e0\u306a\u3093\u3060\uff01","source":"season","sourceDescription":"\u30b7\u30fc\u30ba\u30f3","howToGet":"2014\u5e744\u6708\u3001\u30e9\u30f3\u30af\u6226\u30d7\u30ec\u30a4\u3067\u30e9\u30f3\u30af20\u5230\u9054\u306b\u3088\u308a\u7372\u5f97\u3002","enabled":true,"img":"http://wow.zamimg.com/images/hearthstone/backs/original/Card_Back_Pandaria.png","imgAnimated":"http://wow.zamimg.com/images/hearthstone/backs/animated/Card_Back_Pandaria.gif","sortCategory":"5","sortOrder":"0","locale":"jaJP"},{"cardBackId":"2","name":"\u9ed2\u306e\u5bfa\u9662","description":"\u9ed2\u306e\u5bfa\u9662\u3067\u306f\u5e38[...]
